html {
    /*Editor says this scrollbar-width doesen't exist, but this works */
    scrollbar-width: none; /*Hides scrollbar in Firefox*/
}

.ErrorMessage {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: red;
}

.ContentArea {
    margin-top: 2em;
    width: 80%;
}

.Info {
    margin: 0.5em 0;
    font-size: 0.8rem;
    font-style: italic;
    color: gray;
}

.FormSubmitButton {
    background-color: transparent;
    border: none;
    outline: none;
    color: #00866E;
    font-weight: bold;
    font-size: 1.2em;
    margin: 1em 0;
}

.FormSubmitButton:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.ClearButton {
    background-color: transparent;
    border: none;
    outline: none;
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    margin: 1em 0;
}

::-webkit-scrollbar {
    display: none; /*Hides scrollbar in all browsers except Firefox */
}