<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(function () {
            
            // hentAlleNavn og bygg opp dropdown når siden lastes
           
            $.ajax({
                url: '/Kunde/hentAlleNavn',
                type: 'GET',
                dataType: 'json',
                success: function (jsKunde) {
                    VisDropDown(jsKunde);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            // opprett en hendelse på dropdown-listen når siden lastes
            
            $("#drop").change(function () {
                var id = $(this).val();
                $.ajax({
                    url: '/Kunde/hentKundeInfo/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (kunde) {
                        VisInfo(kunde);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

            // opprett en hendelse som kjøres når registreringsknappen trykkes

            $("#registrer").click(function () {
                
                // bygg et js objekt fra input feltene
                var jsInn = {
                    fornavn: $("#fornavn").val(),
                    etternavn: $("#etternavn").val(),
                    adresse: $("#adresse").val(),
                    postnr: $("#postnr").val(),
                    poststed: $("#poststed").val()
                }
    
                $.ajax({
                    url: '/Kunde/Register',
                    type: 'POST',
                    data: JSON.stringify(jsInn),
                    contentType: "application/json;charset=utf-8",
                    success: function (ok) {
                        // kunne ha feilhåndtert evt. feil i registreringen her
                        window.location.reload();
                        // reload av vinduet må sje her altså etter at kallet har returnert
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            })
        })
       
        function VisDropDown(jsKunder) {
            var utStreng = "";
            for (var i in jsKunder) {
                utStreng += "<option value='" + jsKunder[i].id + "'>" + jsKunder[i].fornavn +" "+jsKunder[i].etternavn+"</option>";
            }
            $("#drop").append(utStreng);
        }

        function VisInfo(kunde) {
            var utStreng = kunde.fornavn + " " + kunde.etternavn + " " + kunde.adresse + " "
                            + kunde.postnr + " " + kunde.poststed;
            $("#visInfo").html(utStreng);
        }

    </script>
</head>
<body>
    Velg en kunde for å få all informasjon om denne: <br/>
    <div id="dropDown"> 
        <select id="drop">
        </select>     
    </div>
    <div id="visInfo">
    </div>
    Register ny kunde:
    <div>
        <table>
            <tr>
                <td>Fornavn</td><td>Etternavn</td><td>Adresse</td><td>Postnr</td><td>Poststed</td>
            </tr>
            <tr>
                <td><input type="text" id="fornavn" /></td>
                <td><input type="text" id="etternavn" /></td>
                <td><input type="text" id="adresse" /></td>
                <td><input type="text" id="postnr" /></td>
                <td><input type="text" id="poststed" /></td>
            </tr>
            <tr>
                <td><button id="registrer">Register</button></td>
            </tr>
        </table>
    </div>
</body>
</html>
