@model  IEnumerable<CustomerApplication.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Here are all the Customers:
<br />
<table>
    @foreach (var k in Model)
    {
        <tr>
            <td>ID: </td>
            <td>@k.id</td>
            <td>Navn: </td>
            <td>@k.FirstName</td>
            <td>Adresse: </td>
            <td>@k.Address</td>
            <td><a href="/Home/DeleteCustomer?id=@k.id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>

<a href="/Home/RegisterCustomer" class="btn btn-primary">Register Customer</a>