@model List<CustomerApplication.Models.Customer>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    <a href="/Home/Register">To Registration</a>
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Address
        </td>
        <td>
            <a href="/Home/delete?deleteName=@item.Name">Delete</a>
        </td>
    </tr>
}

</table>
