.CategoryBox {
    width: 45%;
    display: inline-flex;
    color: white;
    margin: 0 1em 0.5em 0;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    font-size: 2em;
    font-weight: bold;
    padding: 64px 0 64px 16px;
    transition: all .2s ease-in-out;
    background-color: #00866E;
}

.CategoryBox:hover {
    transform: scale(1.05);
    cursor: pointer;
}