@model Kunde_app_1_core.Models.Kunde
<body>
    <div>
        <form action="/kunde/reg" method="post">
            <table class="table">
                <tr>
                    <td>Fornavn</td>
                    <td><input name="fornavn" /></td>
                </tr>
                <tr>
                    <td>Etternavn</td>
                    <td><input name="etternavn" /></td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td><input name="adresse" /></td>
                </tr>
                <tr>
                    <td>Postnr</td>
                    <td><input name="postnr" /></td>
                </tr>
                <tr>
                    <td>Poststed</td>
                    <td><input name="poststed" /></td>
                </tr>
            </table>
            <input type="submit" name="reg" value="Registrer" class="btn btn-info" />
        </form>
    </div>
</body>

