.QuestionButton {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
    border-top: 1px solid gray;
}

.QandABox {
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    border-top: 1px solid gray;
}

.QuestionButton img {
    width: 40px;
    float: right;
    transition: all .2s ease-in-out;
}

.QuestionButton img:hover {
    transform: scale(1.1);
}

.Question {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.7em;
}

.Question img {
    width: 40px;
    float: right;
    transition: all .2s ease-in-out;
}

.Question img:hover {
    transform: scale(1.1);
}

.Answer {
    margin-bottom: 0.7em;
}